@import '../../../assets/_scss/color';

.Login {
	align-items: center;
	display: flex;
	justify-content: center;
	height: 100vh;

	.TextField {
		display: block;
		width: auto;
	}
}

.Login-card {
	margin: auto;
	max-width: 400px;
	width: 100%;
}

.Login-cardActions {
	align-items:center;
	display: flex;
	justify-content: flex-end;
}
