@mixin font-face($font-family, $font-filename, $folder-name : '', $font-weight : normal, $font-style :normal, $font-stretch : normal) {
	$path: '../../../css/font/' + $folder-name;
	@font-face {
		font-family: '#{$font-family}';
		src: url($path + '#{$font-filename}.woff2') format('woff2'), url($path + '#{$font-filename}.woff') format('woff');
		font-weight: $font-weight;
		font-style: $font-style;
		font-stretch: $font-stretch;
	}
}

@mixin media-query($point) {
	@if $point == xlg {
		@media (min-width: 1600px) {
			@content;
		}
	} @else if $point == lg {
		@media (min-width: 1200px) {
			@content;
		}
	} @else if $point == md {
		@media (min-width: 992px) {
			@content;
		}
	} @else if $point == sm {
		@media (min-width: 768px) {
			@content;
		}
	} @else if $point == xs {
		@media (max-width: 767px) {
			@content;
		}
	}
}