@import '~@/assets/_scss/_color.scss';

@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: local('Material Icons'),
	local('MaterialIcons-Regular'),
	url(~@/../static/fonts/MaterialIcons-Regular.woff2) format('woff2'),
	url(~@/../static/fonts/MaterialIcons-Regular.woff) format('woff');
}

$theme: (
	primary: map-get($light-green, darken-2),
	accent: map-get($light-green,accent-2),
	secondary: map-get($grey,lighten-1),
	info: map-get($blue,lighten-1),
	warning: map-get($green,darken-2),
	error: map-get($red,accent-4),
	success: map-get($green,lighten-2)
);

@function get-color ($key) {
	@if map-has-key($theme, $key) {
		@return map-get($theme, $key);
	}

	@warn 'Unknow `#{$key}` in $theme.';
	@return null;
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px; /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;

	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;

	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;

	/* Support for IE. */
	font-feature-settings: 'liga';
}

.theme--light {
	.input-group:not(.input-group--error) .input-group__details:before {
		background-color: $aluminium;
	}
}

.MainMenu {

}

.Toolbar {
	background: get-color(primary);
	color: white;
}

.mu-raised-button {
	.mu-raised-button-wrapper {
		transition: all ease 0.5s;
	}
}
